#content{
    max-width: 1600px;
    margin: 0 auto;
}
#banner{
    width:100%;
    height: 1500 px;
    background-image: url('../images/rwlogo.png');
}
nav{
    text-align: center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background {
    height: 725px;
}