
body{
    margin: 0;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
a {
    font-size: 1.5em;
    color: aqua;
}
a:hover {
    background-color: white;
    color: steelblue;
}
h1 {
    text-align: center;
}

img {
    height: 25%;
    width: 30%;
    display: block;
    margin: 0 auto;
}
nav, footer {
    background-color: steelblue;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}
footer p {
    font-size: 20px;
    margin: 20px auto;
}